.login-button {
    width: 328px;
    height: 45px;
    color: #ffffff;
    background-color: #0C8CFF;
    border-radius: 8px;
    border-color: #0C8CFF;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.login-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button.disabled {
    background-color: #CDD1D8 !important;
    color: #9CA3AF !important;
    cursor: not-allowed !important;
    transform: none !important;
}

.login-button.disabled:hover {
    background-color: #CDD1D8 !important;
    transform: none !important;
}