.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* 콘텐츠 위에 올라오도록 */
  height: 45px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  /* iOS 노치 안전영역 */
  padding-top: env(safe-area-inset-top, 0);
}

/* 뒤로가기 아이콘 */
.header_back {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 8.5px;
  height: 12px;
  cursor: pointer;
}

/* 중앙 타이틀 */
.header_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #363b48;
  text-align: center;
  white-space: nowrap;
}


/* 오른쪽 북마크 아이콘 */
.header_bookmark {
  position: absolute;
  right: 19px; 
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.header_search{ 
    position:absolute;
    right: 19px; 
    top: 50%;
    transform: translateY(-50%);
    width:22px;
    height:22px; 
    cursor:pointer; 
}

/* 오른쪽 홈 버튼 */
.header_home {
  position: absolute;
  right: 19px; 
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}